class <%= name.pluralize.capitalize %>Migration < HalfMoon::Migration
  def create
    @db.create_table :<%=name.pluralize%> do
      <% @c.each do |k, v| %><%="#{v[0]} :#{k}#{(v[1].empty?)? "" : ", #{v[1].join(', ')}" }"%>
      <% end %>
    end
  end

  def drop
    @db.drop_table :<%=name.pluralize%>
  end
end
