<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%=config[:title]%></title>
</head>
<body>
  <h1>Welcome to HalfMoon!</h1>
  <h2><%=name.capitalize%>#<%=config[:method]%></h2>
</body>
</html>
