<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="content">
  <section>
    <form class="" action="user/login" method="post">
      <input class="input-text" type="text" name="id"   value="" placeholder="ID">
      <input class="input-text" type="text" name="pass" value="" placeholder="Password">
      <input class="submit" type="submit" name="" value="ログイン">
    </form>
  </section>
</body>
<script src="/assets/js/jquery-2.1.3.js" charset="utf-8"></script>
<script src="/assets/js/event.js" charset="utf-8"></script>
</html>
