<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= @status[:Code].to_s + ' ' + @status[:Mes] %></title>
</head>
<body>
  <h1><%= @status[:Code].to_s + ' ' + @status[:Mes] %></h1>
</body>
</html>
